html{
	width: 100%;
	height: 720px;
	font-family: Arial;
	color: gray;
}
body{
}
h1,h2{
	font-weight: normal;
	letter-spacing: 5px;
}

td{
	padding: 10px;
	padding-top: 0px;
}

.pink{
	color: #ED1E79;
}