/*---- HEADER -----*/
#header {
	height: 200px;
	position: relative;
}

#logo {
	cursor: hand;
	cursor: pointer;
	position: relative;
	align:center;
	top:-138px;
}

#lineName {
	position: relative;
	top: 60px;
}